<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2"></div>
          </div>
          <div class="py-5 bg-secondary mt-50">
            <form (ngSubmit)="calculate()" #form="ngForm">
              <div class="container">
                <!-- Inputs  -->
                <div class="mb-3">
                  <small class="text-uppercase font-weight-bold"
                    >Simulator</small
                  >
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <input
                        type="number"
                        id="purchasePrice"
                        name="purchasePrice"
                        placeholder="Purchase price"
                        [(ngModel)]="simulator.purchasePrice"
                        #PurchasePrice
                        required
                        class="form-control form-control-alternative"
                      />
                      <div
                        *ngIf="
                          simulator.purchasePrice?.invalid &&
                          simulator.purchasePrice?.touched
                        "
                      >
                        <p
                          class="error-message"
                          *ngIf="simulator.purchasePrice.errors?.required"
                        >
                          Purchase price is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <input
                        type="number"
                        placeholder="Rent (per month)"
                        id="monthlyRent"
                        name="monthlyRent"
                        [(ngModel)]="simulator.monthlyRent"
                        #MonthlyRent
                        required
                        class="form-control form-control-alternative"
                      />
                      <div
                        *ngIf="
                          simulator.monthlyRent?.invalid &&
                          simulator.monthlyRent?.touched
                        "
                      >
                        <p
                          class="error-message"
                          *ngIf="simulator.monthlyRent.errors?.required"
                        >
                          Monthly rent is required
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <input
                        type="number"
                        placeholder="Annual rental fee"
                        id="annualFee"
                        name="annualFee"
                        [(ngModel)]="simulator.annualFee"
                        #AnnualFee
                        required
                        class="form-control form-control-alternative"
                      />
                      <div
                        *ngIf="
                          simulator.annualFee?.invalid &&
                          simulator.annualFee?.touched
                        "
                      >
                        <p
                          class="error-message"
                          *ngIf="simulator.annualFee.errors?.required"
                        >
                          Annual fee is required
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <button
                  nbButton
                  fullWidth
                  status="primary"
                  size="large"
                  class="btn btn-sm btn-default"
                  [disabled]="!form.valid"
                >
                  <span class="btn-inner--icon">
                    <i class="fa fa-calculator mr-2"></i>
                  </span>
                  <span class="nav-link-inner--text">Simulate</span>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="mt-5 py-5 border-top text-center" *ngIf="result.length > 0">
          <div class="row justify-content-center full-width">
            <table class="table table-striped half-width">
              <thead>
                <tr></tr>
              </thead>
              <div
                *ngFor="let res of result"
                class="text-center justify-content-center"
              >
                <tbody class="text-center justify-content-center">
                  <tr>
                    <td>Year {{ res.year }}</td>
                    <td>Return {{ res.returnPercentage }} %</td>
                    <td>{{ res.monthlyIncome }} (monthly income)</td>
                  </tr>
                </tbody>
              </div>
            </table>
          </div>
        </div>
        <div class="mt-5 py-5 border-top justify-content-center">
          <div class="row ml-5">
            <div class="col-lg-9">
              <p>
                Purchase price : the exact amount that you purshased your
                property with, EXP: 150000
              </p>
            </div>
          </div>
          <div class="row ml-5">
            <div class="col-lg-9">
              <p>
                Monthly rent : the exact amount of monthly rent of your
                property, EXP: 650
              </p>
            </div>
          </div>
          <div class="row ml-5">
            <div class="col-lg-9">
              <p>Annual fees : all rental fees (except agency fees)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
