<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center mb-5">
      <div class="col-lg-6">
        <h4 class="mb-0 font-weight-light">
          Let's get in touch on any of these platforms.
        </h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a
          target="_blank"
          href="https://www.instagram.com/emeraldstay/"
          class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg"
          ngbTooltip="Follow us"
        >
          <i class="fa fa-instagram"></i>
        </a>
        <a
          target="_blank"
          href="https://www.facebook.com/emeraldstay/"
          class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg"
          ngbTooltip="Like us"
        >
          <i class="fa fa-facebook-square"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/company/emeraldstay/"
          class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg"
          ngbTooltip="Connect with us"
        >
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
    <hr />
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ test | date: "yyyy" }}
          <a href="https://emeraldstay.com/" target="_blank">Emerald Stay</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://emeraldstay.com/" class="nav-link" target="_blank"
              >Emerald Stay</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://emeraldstay.com/contact-us"
              class="nav-link"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
